body {
	background: #ddd url(../images/bgpatt2.jpg);
	font-family: "Bebas";
	color: #444;
	text-align: center;
}
h1{
	margin:0;
	padding: 0;
}

#container {
	width: 90%;
	margin: 0 auto;
}

#visualization {
	float: left;
}

a {
	color: #16A085;
}

.axis path,
line {
	stroke: black;
}

.line {
	float: left;
}

.line_container {
	width: 150px;
	height: 20px;
}

path {
	fill: none;
}

#key {
	float: right;
	width: 15%;
}

#back {
	position: relative;
	clear: both;
	float: left;
	left: 50%;
	transform: translateX(-50%);
}

.key_line {
	width: 100%;
	font-size: 0.75em;
	text-align: left;
	cursor: pointer;
}
.key_line.active{
	color: #16A085;
}
.key_line.active .key_square{
	background: #16A085;
}
.key_square {
	height: 10px;
	width: 10px;
	outline: solid 1px black;
	float: left;
	margin: 6px 10px 0px 10px;
}

.key_label {
	padding-top: 2px;
}
